
.authentification {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #888888;
}

.auth-box {
    background: white;
    width: 380px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}


.form {
    width: 100%;
}


.input-group {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: none;
    font-size: 16px;

}

button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #a61d1d;
    color: white;
}
.auth-box h2{
    text-align: center;
    margin-bottom: 25px;

}

.episen{
    display: block;
    margin: 0 auto 15px;
}

