.profil-page {
    background-color: #f3f2ef;
    min-height: 100vh;
}


.profil-banner {
    height: 180px;
    background-color: #a61d1d;
}


.profil-card {
    background: white;
    max-width: 900px;
    margin: -60px auto 20px;
    padding: 20px;
    border-radius: 12px;
    position: relative;
}

.profil-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    top: -60px;
    left: 20px;
}

.profil-card h2 {
    margin-top: 70px;
}

.profil-title {
    color: #666;
}

.profil-location {
    color: #888;
}

/* Layout */
.profil-layout {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
}


.post {
    background: #f3f2ef;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}
